[Desktop Entry]
Version=1.0
Type=Application
Name=em-marine
Comment=
Exec=em-marine
Icon=/usr/share/pixmaps/em-marine.png
Path=
Terminal=false
StartupNotify=true
